.nav-tabs{
    .nav-item{
        .nav-link.active{
            background-color: #1a9abb !important;
            color: #fff !important;
        }

        .nav-link{
            color: #21556c !important;
        }

    }
}