@import '../../../../color';
.lawyers_table_container{
  margin-top:50px;
  .tss-1qtl85h-MUIDataTableBodyCell-root{
    padding-left:15px
  }
  .MuiTablePagination-selectLabel{
    margin:0;
}
.MuiTablePagination-displayedRows{
    margin: 0
}
}

.action_container{
  display: flex;
  gap: 5px;
  button{
    background-color: $button !important;
    color: #fff !important;
    font-weight: bold !important;
    border: none !important;
    padding: 8px 20px !important;
    border-radius: 20px !important;
    text-transform: uppercase !important;
    box-shadow: $boxShadow !important;
    font-size: 12px !important;
    transition: all 0.5s ease !important;
  }

  &:hover{
    box-shadow: none !important;
  }
}
